@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active {
        @apply border-b-2 border-black;
    }

    .btn-primary {
        @apply px-10 py-2 font-semibold border-2 border-primary rounded-sm hover:bg-primary hover:text-white transition-all duration-300;
    }

    .btn-prev {
        @apply disabled:cursor-default disabled:text-black/30;
    }

    .btn-next {
        @apply disabled:cursor-default disabled:text-black/30;
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}
